.container
	.header-photo 
	.profile
		.profile-picture
			img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg", alt="")
		.profile-content
			h3 Ann Lovefully
			p Designer, cat lover, bookwarm apple pie fanatic and nature enthusiast :)
		ul.profile-contact
			li
				i.fa.far.fa-map-marker 
				span Hungary
			li 
				i.fa.fas.fa-envelope 
				span Send E-mail
		ul.profile-follow
			li 
				h4 8,100 
				span Followers
			li 
				h4 3,650 
				span Following
	.button Follow
	
			