.wrapper
	.card
		.header
			h3 Monthly
			p.line
		.price
			p $15
		.content
			p 2 core processor
			p 2 core processor
		.button
			p buy now
			
	.card
		.header
			h3 Yearly
			p.line
		.price
			p $32
		.content
			p 2 core processor
			p 2 core processor
			p.th 2 core processor
		.button
			p buy now
			
	.card
		.header
			h3 Two Year
			p.line
		.price
			p $99
		.content
			p 2 core processor
			p 2 core processor
		.button
			p buy now
		
		
		