main
	section#one
	section#two
		.container
			ul.header
				li.country NDL
				li 
					i.fa.fas.fa-plane
				li.country DXB
			.travel
				h3 Traveltime
				p 2 Hrs 15 Mins
			.travel
				h3 Travelcost
				p $650
			label.radio
				input(type="radio" checked="checked" value="journey") 
				| 
				span Return Journey
				span.checkmark
			.choose
				layer
					.select
						select
							option(value="emirates" selected) Emirates	 
				button Confirm 
				
				