.container
	.card
		.header
			img(src="https://pbs.twimg.com/profile_images/928043131185983488/EBYH22-K.jpg", alt="John Watson" title="John Watson").profile
			button.follow Follow
		.content
			.left
				h3 John Watson
				span @DrWatson
				p
				.followers
					.followers-number
						span.number 22.6k
						span.text Followers
					.followers-images
						ul
							li
								img(src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg", alt="").fimg
							li 
								img(src="https://pbs.twimg.com/profile_images/943227488292962306/teiNNAiy.jpg", alt="").fimg
							li
								img(src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg", alt="").fimg
			.right
				ul
					li
						img(src="https://pbs.twimg.com/profile_images/928043131185983488/EBYH22-K.jpg", alt="")
						div
							p.tweet What an amazing day.I love being a doctor!
							.reaction
								ul
									li 
										i.fa.fas.fa-heart 
										span 12
									li
										i.fa.fas.fa-heart
										span 1h ago
						li.second
						li
							img(src="https://pbs.twimg.com/profile_images/928043131185983488/EBYH22-K.jpg", alt="")
							div
								p.tweet My decision to move fron London to NY paid off!
								.reaction
									ul
										li 
											i.fa.fas.fa-heart 
											span 19
										li
											i.fa.fas.fa-heart
											span 3h ago
							
	
		
						
			
		