.container
	.box
		.title
			i.fa.fas.fa-paper-plane
			h4 Basic
		.price
			h4
				sup $
				| 25
		.options
			ul
				li 
					i.fa.fas.fa-check 10 Gb Space
				li 
					i.fa.fas.fa-check 3 Domain Names
				li
					i.fa.fas.fa-check 20 Email Address
				li
					i.fa.fas.fa-times Live Support
		.button
			a(href="#") Order Now
	.box
		.title
			i.fa.fas.fa-plane
			h4 Standart
		.price
			h4
				sup $
				| 50
		.options
			ul
				li 
					i.fa.fas.fa-check 50 Gb Space
				li 
					i.fa.fas.fa-check 5 Domain Names
				li
					i.fa.fas.fa-check Unlimited Email Address
				li
					i.fa.fas.fa-times Live Support
		.button
			a(href="#") Order Now
	.box
		.title
			i.fa.fas.fa-space-shuttle
			h4 Premium
		.price
			h4
				sup $
				| 100
		.options
			ul
				li 
					i.fa.fas.fa-check Unlimited Space
				li 
					i.fa.fas.fa-check 30 Domain Names
				li
					i.fa.fas.fa-check Unlimited Email Address
				li
					i.fa.fas.fa-times Live Support
		.button
			a(href="#") Order Now