main
	section#one
		h1 New York
		p.day 12 Day / 10 Nights
	section#two
		.container
			h3 Meet the city
			h2 that never sleeps
			p.content Travel one of the world's most diverse and intriguing cities. City Info Exports will help you experience it all!
			ul.prop
				li 
					i.fa.fas.fa-plane
					.option
						p.up Trawelling with
						p.down American Airlines
				li
					i.fa.fas.fa-suitcase
					.option
						ul.star
							li 
								i.fa.fas.fa-star
							li 
								i.fa.fas.fa-star
							li 
								i.fa.fas.fa-star
							li 
								i.fa.fas.fa-star
							li 
								i.fa.fas.fa-star
						p.down Milenium Broadway Hotel
				li
					i.fa.fas.fa-suitcase
					.option
						p.up Empire State/ Brooklyn Bridge
						p.down Guided tours included
			.pay
				p.price $7.969
				button Buy Now
						