.layer 
	.container
		.card
			header
				img(src="https://s3.amazonaws.com/uifaces/faces/twitter/enda/128.jpg", alt="")
			section
				h3 Williamson
				span Back End Developer
				ul.social
					li 
						i.fa.fab.fa-facebook-f
					li
						i.fa.fab.fa-twitter
					li
						i.fa.fab.fa-google-plus
					li
						i.fa.fab.fa-linkedin
		.card
			header
				img(src="https://s3.amazonaws.com/uifaces/faces/twitter/vista/128.jpg", alt="")
			section
				h3 Bon-Hwa
				span Ui/Ux Designer
				ul.social
					li 
						i.fa.fab.fa-facebook-f
					li
						i.fa.fab.fa-twitter
					li
						i.fa.fab.fa-google-plus
					li
						i.fa.fab.fa-linkedin
		.card
				header
					img(src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg", alt="")
				section
					h3 Elizabeth
					span Front End Developer
					ul.social
						li 
							i.fa.fab.fa-facebook-f
						li
							i.fa.fab.fa-twitter
						li
							i.fa.fab.fa-google-plus
						li
							i.fa.fab.fa-linkedin
		
					
						
		